.setting-container .phone-container .current-container .phone-line {
  padding: 10px 0;
  text-align: center;
}

.setting-container .phone-container .current-container .next-line {
  text-align: center;
}
