.child-container .add-container img {
  height: 100px;
  margin: auto;
}

.child-container .add-container .ui-menu-item:hover {
  border: 1px solid #999999;
  background: #dadada;
  font-weight: normal;
  color: #212121;
}

.child-container .add-container .relationship-outer {
  position: relative;
}
