<!--
    @require "pointrule.css"
-->

<div class="pointrule-container">
	<header class="header-container navbar-fixed-top">
    <a href="javascript:;" class="header-btn header-pos-left" ng-click="back()">
      <i class="fa fa-times"></i>
    </a>
    <div class="title">会员级别与积分说明</div>
  </header>
  <div class="container">
  	<div class="content-container">
  		<article>
  			<div class="content">
  				<div class="page js-page on">
  					<p>
  						<strong>会员分级</strong>
  					</p>
  					<p>方向教育会员级别分为5个等级，分别为：普卡会员、银卡会员、金卡会员、白金卡会员、钻石卡会员。</p>
  					<p>会员级别的调整均由方向教育根据会员累计积分自动处理，无需会员申请。</p>
  					<p>
  						会员级别由累计积分决定，累计积分越高会员等级越高，享受到的会员权益越大。
  						<a href="javascript:;" ng-click="goTotalPoints()">什么是累计积分？</a>
  					</p>
  					<p>会员级别规则如下：</p>
  					<p>
  						<strong>(1)普卡会员</strong>
  					</p>
  					<p> •加入方式：免费加入</p>
  					<p> •有效期：永久</p>
  					<p> •升/保级条件：无</p>
  					<p> •升级方式：无 </p>
  					<p> •降级方式：无</p>
  					<p>
  						<strong>(2)银卡会员</strong>
  					</p>
  					<p> •加入方式：累计积分升级</p>
  					<p> •有效期：自定级之日起1年有效，有效期结束后扣除30累计积分，根据剩余累计积分重新定级</p>
  					<p> •升/保级条件：累计积分满50分</p>
  					<p> •升级方式：会员有效期内，满足升级标准即可自动升级，升级后会员有效期顺延一年</p>
  					<p> •降级方式：会员有效期结束后，如不满足升级、保级条件，按剩余累计积分对应的会员级别重新定级</p>
  					<p>
  						<strong>(3)金卡会员</strong>
  					</p>
  					<p> •加入方式：累计积分升级</p>
  					<p> •有效期：自定级之日起1年有效，有效期结束后扣除100累计积分，根据剩余累计积分重新定级</p>
  					<p> •升/保级条件：累计积分满150分</p>
  					<p> •升级方式：会员有效期内，满足升级标准即可自动升级，升级后会员有效期顺延一年</p>
  					<p> •降级方式：会员有效期结束后，如不满足升级、保级条件，按剩余累计积分对应的会员级别重新定级</p>
  					<p>
  						<strong>(4)白金卡会员</strong>
  					</p>
  					<p> •加入方式：累计积分升级</p>
  					<p> •有效期：自定级之日起1年有效，有效期结束后扣除300累计积分，根据剩余累计积分重新定级</p>
  					<p> •升/保级条件：累计积分满450分</p>
  					<p> •升级方式：会员有效期内，满足升级标准即可自动升级，升级后会员有效期顺延一年</p>
  					<p> •降级方式：会员有效期结束后，如不满足升级、保级条件，按剩余累计积分对应的会员级别重新定级</p>
  					<p>
  						<strong>(5)钻石卡会员</strong>
  					</p>
  					<p> •加入方式：累计积分升级</p>
  					<p> •有效期：自定级之日起1年有效，有效期结束后扣除550累计积分，根据剩余累计积分重新定级</p>
  					<p> •升/保级条件：累计积分满1000分</p>
  					<p> •升级方式：会员有效期内，满足升级标准即可自动升级，升级后会员有效期顺延一年</p>
  					<p> •降级方式：会员有效期结束后，如不满足升级、保级条件，按剩余累计积分对应的会员级别重新定级</p>
  					<p>示例：</p>
  					<p>普卡会员王先生2015年3月7日租车消费获得50累计积分，达到银卡会员所需升级标准，则从普卡会员升级到银卡会员。（有效期至2016年3月7日）</p>
  					<p>银卡会员王先生又于2015年6月12日购买课程消费获得100累计积分，达到金卡会员所需升级标准，从银卡升级为金卡（有效期至2016年6月12日），此后王先生无消费、未产生累计积分。2016年6月13日，王先生金卡会员到期，扣除冲抵金卡资格的累计积分后，剩余累计积分不足保级条件，降为银卡会员。</p>
  				</div>
  				<div class="page js-page on">
  					<p>
  						<strong>积分</strong>
  					</p>
  					<p>积分根据用途分为可用积分、累计积分。</p>
  					<p>(一)可用积分</p>
  					<p>1. 用途：冲抵租车消费，兑换礼品，10可用积分=1元</p>
  					<p>2. 有效期：还车结算次日计入会员名下，有效期自计入之日起三年有效，到期自动清零</p>
  					<p>3. 获取方式：可用积分=租车有效消费金额*返送比例，每个订单可返积分最高不超过1000分</p>
  					<p>(1)租车有效消费金额:指参与返送积分的订单及收费项目。</p>
  					<p>a)参与返送积分的收费项目：</p>
  					<p> •购买课程</p>
  					<p> •报名活动</p>
  					<p>b) 说明：</p>
  					<p> •以上项目以外的其他收费项目，均不参与返积分；</p>
  					<p> •使用代金券、积分抵现、大客户预付/后付等方式结算的金额，不返积分。</p>
  					<p>(2)返送比例：</p>
  					<p>a)返积分所对应的会员级别，按照还车结算日的会员级别返积分比例。</p>
  					<p>b)会员等级对应积分返比如下：</p>
  					<p>普通会员10%</p>
  					<p>银卡会员12%</p>
  					<p>金卡会员15%</p>
  					<p>白金卡会员20%</p>
  					<p>钻石卡会员25%</p>
  					<p>4.使用说明</p>
  					<p> •可用积分可在还车时抵扣租车费用、兑换商品</p>
  					<p> •可用积分仅限会员本人使用，不可转让</p>
  					<p> •可用积分不能兑换现金，不开发票，不找零</p>
  					<p> •可用积分成功抵扣租车费用或兑换商品后，不支持申请退回</p>
  					<p>(二)累计积分</p>
  					<p>1.用途：会员升级。升级时不抵扣对应分数，会员级别到期时抵扣。</p>
  					<p>2.有效期：长期有效，还车结算次日计入会员名下</p>
  					<p>3.获取方式：同可用积分。</p>
  					<p>
  						<strong>Q&A</strong>
  					</p>
  					<p>1. 什么是累计积分？</p>
  					<p>
  						累计积分是神州租车会员，根据会员级别、订单类型，按有效消费金额的一定比例所获得的，累计积分决定会员级别。
  						<a href="javascript:;" ng-click="goTop()">查看会员级别介绍</a>
  					</p>
  					<p>会员级别越高，积分返比越大。</p>
  					<p>2. 累计积分的有效期是多久？</p>
  					<p>长期有效。</p>
  					<p>3. 我的累计积分被扣了，是什么原因？</p>
  					<p>哪些情况下会扣减累计积分？</p>
  					<p>会员级别有效期到期时会扣减累计积分。</p>
  					<p>
  						<a href="javascript:;" ng-click="goTop()">查看会员级别有效期介绍</a>
  						<a ui-sref="score.memberlevel">查看我的累计积分</a>
  					</p>
  					<p>4. 如何获得累计积分？</p>
  					<p>
  						<a href="javascript:;" ng-click="goPoints()">查看积分获取方式</a>
  					</p>
  					<p>5. 我的会员级别为什么降级了？</p>
  					<p>神州租车的会员级别共分为5个等级，分别为：普通会员、银卡会员、金卡会员、白金卡会员、钻石卡会员。会员级别的升降均由系统自动处理，无需申请。会员级别由累计积分决定，累计积分越高会员等级越高，享受到的会员权益越大。</p>
  					<p>
  						<a href="javascript:;" ng-click="goTotalPoints()">什么是累计积分？</a>
  					</p>
  					<p>
  						<a href="javascript:;" ng-click="goTop()">查看会员级别规则</a>
  					</p>
  					<p>6. 怎样可以升级会员级别？</p>
  					<p>
  						<a href="javascript:;" ng-click="goTop()">查看会员级别规则</a>
  					</p>
  					<p>7. 什么是可用积分？</p>
  					<p>累计积分是神州租车会员，根据会员级别、订单类型，按有效消费金额的一定比例所获得的，可用积分可用于在还车时抵扣租车费用、兑换商品；会员级别越高，积分返比越大。</p>
  					<p>8. 我的可用积分被扣了，是什么原因？</p>
  					<p>
  						哪些情况下会扣减可用积分？可用积分有效期到期时会扣减可用积分。
  						<a href="javascript:;" ng-click="goPoints()">可用积分有效期介绍</a>
  					</p>
  					<p>9. 如何获得可用积分？</p>
  					<p>
  						<a href="javascript:;" ng-click="goPoints()">查看积分获取方式</a>
  					</p>
  					<p>10. 可用积分有效期是多久？</p>
  					<p>可用积分有效期：可用积分在还车结算后的次日计入客户名下，每笔可用积分的有效期为自计入日起三年有效，到期自动扣除可用积分。</p>
  					<p>11. 如何使用可用积分？</p>
  					<p>用户可自行在积分商城中用可用积分进行兑换商品。在还车支付租车费用时，门店员工会询问是否使用可用积分进行抵扣。</p>
  					<p>12. 可用积分兑换的比例是多少？</p>
  					<p>可用积分和人民币兑换比例是10:1，即10个积分相当于人民币1元。</p>
  					<p>*加盟门店租车不能返赠积分，已获得积分在加盟店租车不可冲抵租车消费、兑换礼品</p>
  				</div>
  			</div>
  		</article>
  	</div>
  </div>
</div>
