.score-container .pointdetail-container .container {
	padding-left: 0;
	padding-right: 0;
}

.score-container .pointdetail-container .container .head {
	padding: 10px 15px;
}

.score-container .pointdetail-container .table {
  margin-bottom: 0;
  text-align: center;
  table-layout: fixed;
  font-size: 12px;
}

.score-container .pointdetail-container .table > tbody > tr > td {
  border-top: 0;
  vertical-align: middle;
  padding: 0;
}

.score-container .pointdetail-container .list-group-item {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid #dddddd;
}

.score-container .pointdetail-container .list-group-item > table table {
  text-align: left;
}

.score-container .pointdetail-container .list-group-item:first-child {
  border-top: 1px solid #dddddd;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
