<!--
    @require "success.css"
-->

<div class="success-container">
  <div class="tips-outer">
    <img class="img-responsive" src="static/images/success.png">
    <h3 class="h3">支付成功</h3>
  </div>
  <p>
    <button type="button" class="btn btn-success btn-lg btn-block" ng-click="goCourse()" ng-show="'instmore.product' === urlParams.from">预约课程</button>
    <button type="button" class="btn btn-success btn-lg btn-block" ng-click="goActivity()" ng-show="'activity' === urlParams.from">参加更多活动</button>
    <a ui-sref="myorder.course.detail" ng-show="'instmore.product' === urlParams.from">
      <button type="button" class="btn btn-info btn-lg btn-block">查看订单</button>
    </a>
    <a ui-sref="myorder.activity.detail" ng-show="'activity' === urlParams.from">
      <button type="button" class="btn btn-info btn-lg btn-block">查看订单</button>
    </a>
  </p>
</div>
