<!--
    @require "song.css"
-->

<div class="song-detail-container">
  <header class="header-container navbar-fixed-top">
    <a class="header-btn header-pos-left" href="javascript:;" ng-click="back()">
      <i class="fa fa-chevron-left"></i>
    </a>
    <a class="header-btn header-pos-right" href="javascript:;" ng-click="share()" ng-hide="weixinFlag">
      <i class="fa fa-share"></i>
    </a>
    <div class="title" ng-show="'chinese' === $stateParams.language">儿歌详情</div>
    <div class="title" ng-show="'english' === $stateParams.language">song detail</div>
  </header>
  <div class="container">
    <div class="content-container">
      <rd-widget>
        <rd-widget-body classes="no-padding" loading="loading" failing="failing" empty="empty">
          <ul class="thumbnails">
            <li class="span4">
              <div class="thumbnail">
                <img alt="{{song.name}}" src="static/images/default.jpg" ng-src="{{song.pic}}">
                <div class="caption" style="text-align: center;">
                  <h3>{{song.name}}</h3>
                  <p class="help-block" ng-show="'chinese' === $stateParams.language">来源：网络</p>
                  <p class="help-block" ng-show="'english' === $stateParams.language">source：network</p>
                  <p ng-repeat="item in items">
                    <audio controls="controls" autoplay="autoplay" loop="loop">
                      <source ng-src="{{item|trustSrc}}" type="audio/mpeg">
                      <object height="30" width="300" data="{{item|trustSrc}}">
                        <embed height="30" width="300" ng-src="{{item|trustSrc}}">
                      </object>
                    </audio>
                  </p>
                  <p style="margin: 15px 0;">
                    <a class="btn btn-success" href="javascript:;" data-toggle="collapse" data-target="#sense">歌词</a>
                  </p>
                  <p id="sense" class="collapse" ng-bind-html="song.content|unescapeHTMLFilterNoSpace"></p>
                </div>
              </div>
            </li>
          </ul>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
</div>
