<!--
    @require "footer.less"
-->

<footer class="footer-container">
	<div class="row">
	  <div class="col-xs-4">
	    <a ui-sref="main.teach" ui-sref-active="active">
	      <i class="fa fa-book"></i>
	      <div class="menu">教孩子</div>
	    </a>
	  </div>
	  <div class="col-xs-4">
	    <a ui-sref="main.institution" ui-sref-active="active">
	      <i class="fa fa-university"></i>
	      <div class="menu">找学校</div>
	    </a>
	  </div>
	  <div class="col-xs-4">
	    <a ui-sref="main.user" ui-sref-active="active">
	      <i class="fa fa-tree"></i>
	      <div class="menu">成长树</div>
	    </a>
	  </div>
  </div>
</footer>
