<!--
    @require "list.css"
-->

<div class="list-container">
	<header class="header-container navbar-fixed-top">
    <a class="header-btn header-pos-left" ui-sref="main.user">
      <i class="fa fa-chevron-left"></i>
    </a>
    <div class="title">
    	<a href="javascript:;" ng-click="toggle()">
	    	课程订单(7)
	    	<i class="fa fa-angle-down" aria-hidden="true" ng-hide="toggleFlag"></i>
	    	<i class="fa fa-angle-up" aria-hidden="true" ng-show="toggleFlag"></i>
    	</a>
    </div>
  </header>
  <div class="zc_order_filtrate" ng-show="toggleFlag">
  	<ul>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			全部
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-hide=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			处理中
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			预定成功
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			支付失败
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			待付款
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			服务中
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			已完成
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  		<a href="javascript:;" class="list-group-item" ng-click="select()">
  			已取消
  			<i class="fa fa-check pull-right" aria-hidden="true" ng-show=""></i>
  		</a>
  	</ul>
  </div>
  <div class="container">
  	<div class="content-container">
  		<ul>
        <rd-widget>
          <rd-widget-body classes="no-padding" loading="loading" failing="failing" empty="empty">
            <div scroll-trigger="loadMore()" trigger-run trigger-at-end trigger-persist trigger-active="!(loading || failing || empty || busy || lazy || finish || scrollDisabled)">
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">已完成</span>
        					<div class="info">
                    <table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">预定成功</span>
        					<div class="info">
        						<table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">待付款</span>
        					<div class="info">
        						<table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">已取消</span>
        					<div class="info">
        						<table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">服务中</span>
        					<div class="info">
        						<table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">处理中</span>
        					<div class="info">
        						<table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
        			<li class="list-group-item">
        				<a ui-sref="myorder.course.detail">
        					<h3 class="title">早教36课时包</h3>
                  <span class="status">支付失败</span>
        					<div class="info">
        						<table>
                      <tr>
                        <td>
                          <p class="time">
                            有效期：
                            <span>2017-07-17 至 2018-07-16</span>
                          </p>
                          <p class="address">
                            教学点：
                            <span>纽约国际儿童俱乐部西红门鸿坤中心</span>
                          </p>
                        </td>
                        <td>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </td>
                      </tr>
                    </table>
        					</div>
        				</a>
        			</li>
              <div class="scroll-loading" ng-show="busy">
                <i class="fa fa-spinner fa-pulse"></i><span>加载中...</span>
              </div>
              <div class="scroll-loadfail" ng-show="lazy">加载失败，请检查网络连接...</div>
              <div class="scroll-loadfinish" ng-show="finish">没有更多了</div>
            </div>
          </rd-widget-body>
        </rd-widget>
  		</ul>
  	</div>
  </div>
</div>
